﻿/* Style du Content */

#contenu { /* définition style zone à contenu */
margin-left: 7rem;
margin-right: 7rem;
background-color: rgb(255, 253, 253);
padding-top: 10rem;
padding-left: 2rem;
padding-right: 2rem;
box-shadow: 0 0 1rem rgba(0, 0, 0, 0.07);
line-height: 1.7;
padding-bottom: 5rem;
}

img {
    max-width: calc(100% - 5rem);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}


#contenu h3 {
text-align: center;
}

#contenu hr {
margin: 3rem;
}

#contenu .centree {
    text-align: center;
    position: 50%;
}

table {
    border-collapse: collapse;
}
td {
    border: 1px solid grey;
    padding: 5px;
}

.correct {
    color: green;
}

.faux {
    color: red;
}