﻿html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: titleFont;
    src: url("../content/fonts/Grayscale Signature.ttf");
  }

@font-face {
    font-family: mainFont;
    src: url("../content/fonts/Comfortaa-Regular.ttf");
  }


body {
background-color: rgba(102, 102, 102, 0.274);
font-family: 'mainFont';
}

#erreur404 {
text-align: center;
margin: auto;
color: red;
text-decoration: bold;
}

#scroll-bouton {
    position: fixed;
    background-color: rgba(100, 148, 237, 0.651);
    bottom: 50px;
    right:0px;
    border-radius: 10px 0px 0px 10px;
    border-style: solid;
    font-size: 30px;
    padding-bottom: 2px;
}

footer {
text-align: center;
background-color: rgb(10,10,10);
box-shadow: 0 0.05rem 1rem rgba(0, 0, 0, 0.20);
color: white;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
left: 0;
bottom: 0;
width: 100%;
position: fixed;
}
