/* Header - Navbar - Aniamtions */
@keyframes header-anim1 {
0%	{padding-top: 3rem;padding-bottom: 3rem;background-color: rgba(0, 0, 0, 0.904);}
100%	{padding-top: 0;padding-bottom: 0;background-color: rgba(0, 0, 0, 0.904);}
}
@keyframes header-anim2 {
0%	{padding-top: 0;padding-bottom: 0;background-color: rgba(0, 0, 0, 0.904);}
100%	{padding-top: 3rem;padding-bottom: 3rem;background-color: rgba(0, 0, 0, 0.904);}
}

header { /* param header */
background-color: rgba(0, 0, 0, 0.904);
position: fixed;
margin-top: -10px;
margin-left: -10px;
padding: 3rem;
width: 101%;
box-shadow: 0 0.05rem 1rem rgba(0, 0, 0, 0.20);
z-index: 2;
}
header.scroll { /* anim de compactage */
animation: header-anim1 500ms 1 forwards;
}
header.descroll { /* anime de decompactage */
animation: header-anim2 300ms 1 forwards;
}




#navbar { /* param de la navbar */
list-style: none;
margin-right: 1.5rem;
margin-left: 1.5rem;
}

#navbar a, #navbar a:active,#navbar a:hover, #navbar a:visited, #navbar a:focus {
text-decoration: none;
background-image: linear-gradient(-135deg,#a9ebf0b4 25%,#359bfc 100%);
border-radius: 10px 10px;
color: white;
padding: 7px;
text-align: center center;
box-shadow: 0 10px 10px 0 rgba(93,155,255,0.6);

transition: ease-in-out 300ms;
}
#navbar a:hover {
    color: black;
    background-image: linear-gradient(-135deg,#75ffe8 25%,#66ff2ab4 100%);
    box-shadow: 0 10px 10px 0 rgba(95, 255, 32, 0.6);

}

#navbar audio {
    margin-top: -10px;
}


#navbar h1 { /* pour le nom du site à gauche */
float: left;
color: white;
margin-top: 0;
margin-bottom: 0;
font-family: 'titleFont';
font-size: 25px;
margin-left: -2rem;
}

#navbar ul {
    margin-right: 2rem;
}

#navbar li { /* pour les entrées menus à droite */
float: right;
margin-top: 10px;
display: inline;
margin-left: 1rem;
margin-right: 1rem;
}


#navbar .ossuweb a { /* Style bouton pour Ossuweb */
color: black;
background-image: linear-gradient(-135deg,#f0bda9b4 25%,#eefa41 100%);
box-shadow: 0 10px 10px 0 rgba(255, 239, 93, 0.6);
}
#navbar .ossuweb a:hover {
    color: white;
    background-image: linear-gradient(-135deg,#ff7b7bb4 25%,#75ffe8 100%);
    box-shadow: 0 10px 10px 0 rgba(255, 98, 93, 0.6);
}




