﻿body {
font-family: "Roboto", sans-serif;
background-color: black;
color: white;
padding: 0;
margin: 0;
}

#context {
background-size:     cover;                     
background-repeat:   no-repeat;
background-position: center center;
}


#bouton-jouer {
border-style: solid;
border-color: white;
border-radius: 12px;
background-color: black;
color: white;
padding: 2rem;
transition-duration: 0.4s;
font-size: 64px;
position: fixed;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);

}
#bouton-jouer:hover {
    background-color: white;
    color: black;
}


.started {
cursor: url("Data/cursor.png") 45 45, auto;
}

.ui {
visibility: hidden;
position: fixed;
padding: 0;
margin: 0;
}

.ui.started {
visibility: visible;
}

#haut-droit {
font-size: 80px;
text-decoration: underline;
padding-bottom: 80px;

background-image: linear-gradient(to bottom left, rgba(40,40,40,0.8), rgba(200,200,200,0.1));
}

#bas-gauche {
font-size: 100px;
}

#haut-droit, #haut-droit2, #bas-droit {
right: 5px;
} 

#haut-droit2 {
top: 100px;
}

#bas-droit,  #bas-gauche {
bottom: 5px;
}

#bas-droit {
right: 5px;
bottom: -5px;
padding-top: 4px;
padding-bottom: 4px;
padding-right: 10px;
padding-left: 10px;
border-radius: 15px;
background-color: rgb(91, 255, 78)
}

#bouton-invisible {
position: fixed;
background: none;
}

